<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.andrespiraquive.recettes">

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                        android:maxSdkVersion="18"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.camera"
                  android:required="true">
    </uses-feature>
    <uses-feature android:name="android.hardware.location.gps"></uses-feature>

    <application
        android:name=".Applications.App"
        android:allowBackup="true"
        android:icon="@mipmap/icone_recipes"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icone_recipes"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Views.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.GridViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Views.MainActivity"
            android:label="@string/title_user_settings" />
        <activity
            android:name=".Views.RegisterActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Views.AddRecipeActivity"
            android:label="@string/title_add_recipe" />
        <activity
            android:name=".Views.SearchActivity"
            android:label="@string/title_search_recipe"
            android:parentActivityName=".Views.GridViewActivity"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Views.GridViewActivity" />

        <activity
            android:name=".Views.RecipeActivity"
            android:label="@string/title_recipe" />
        <activity
            android:name=".Views.ModifyRecipeActivity"
            android:label="@string/title_modify_recipe" />
        <activity
            android:name=".Views.favorisActivity"
            android:label="Favoris" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.andrespiraquive.recettes.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <service
            android:name=".Services.RecipeService"
            android:exported="false" />
    </application>

</manifest>